<footer id="contacto" class="footer">
  <div class="footer-overlay">
      <div class="footer-section">
          <h2>HORARIOS DE ATENCIÓN</h2>
          <p>Para su mayor comodidad tenemos horarios disponibles de lunes a domingo y también los días feriados.</p>
          <p><i class="fa fa-check"></i> Lunes a domingo: 9am - 17pm</p>
          <p><i class="fa fa-check"></i> Feriados: 10am - 14pm</p>
      </div>
      <div class="footer-section">
          <h2>CONTÁCTANOS</h2>
          <p>RESERVA TU CITA CON 24 HORAS DE ANTICIPACIÓN</p>
          <p><i class="fa fa-phone"></i> 0998025479 (WhatsApp)</p>
          <p><i class="fa fa-envelope"></i> info@eclipsespa.com</p>
          <p><i class="fa fa-map-marker"></i> Av Eloy Alfaro N34-275 y Catalina Aldaz Edificio Catalina Parc, Torre 1 (parqueadero privado)</p>
      </div>

      <div class="social-icons">
          <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
      </div>
  </div>
</footer>
