<!-- Banner Flotante -->
<div class="floating-banner" *ngIf="isBannerVisible" (click)="onBannerClick()">
  <span class="close-btn" (click)="closeBanner($event)">&times;</span>
  <div class="floating-banner-content">
    <h1>.</h1>
  </div>
</div>

<section class="massage-services">
    <div class="massage-card" *ngFor="let massage of massages">
      <img [src]="massage.img" [alt]="massage.title">
      <div class="massage-info">
        <h3>{{ massage.title }} --- {{ massage.duration }} --- {{ massage.price }}</h3>
        <p>{{ massage.description }}</p>
      </div>
    </div>
  </section>
  
