
  
  <!-- Banner Flotante -->
<div class="floating-banner" *ngIf="isBannerVisible" (click)="onBannerClick()">
  <span class="close-btn" (click)="closeBanner($event)">&times;</span>
  <div class="floating-banner-content">
    <h1>.</h1>
  </div>
</div>

<section class="massage-services">
  <div *ngIf="services.length">
    <div *ngFor="let service of services" class="massage-card">
      <img [src]="service.imageUrl" alt="{{ service.name }}">
      <h3>{{ service.name }} <br>--- {{ service.duration }} mins ---<br> {{ service.price | currency }}</h3>
      <p>{{ service.description }}</p>
    </div>
  </div>
  <div *ngIf="!services.length">
    <p>No hay servicios corporales disponibles.</p>
  </div>
</section>
