<!-- Banner Flotante -->
<div class="floating-banner" *ngIf="isBannerVisible" (click)="onBannerClick()">
  <span class="close-btn" (click)="closeBanner($event)">&times;</span>
  <div class="floating-banner-content">
    <h1>.</h1>
  </div>
</div>

  <section class="facial-treatments">
    <div *ngIf="services.length">
      <div *ngFor="let service of services" class="treatment-card">
        <img [src]="service.imageUrl" alt="{{ service.name }}" >
        <h3>{{ service.name }} --- {{ service.duration }} mins --- {{ service.price | currency }}</h3>
        <p>{{ service.description }}</p>
      </div>
    </div>
    <div *ngIf="!services.length">
      <p>No hay servicios faciales disponibles.</p>
    </div>
  </section>
  

   