<!-- Banner Flotante -->
<div class="floating-banner" *ngIf="isBannerVisible" (click)="onBannerClick()">
  <span class="close-btn" (click)="closeBanner($event)">&times;</span>
  <div class="floating-banner-content">
    <h1>.</h1>
  </div>
</div>
<section class="facial-treatments">
    <div class="treatment-card" *ngFor="let treatment of treatments">
      <img [src]="treatment.img" [alt]="treatment.title">
      <div class="treatment-info">
        <h3>{{ treatment.title }} --- {{ treatment.duration }} --- {{ treatment.price }}</h3>
        <p>{{ treatment.description }}</p>
      </div>
    </div>
  </section>
  
