.faq-section {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.faq-title {
  font-size: 36px;
  color: #9226a2;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.faq-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.faq-question {
  background-color: #e6adda;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: serif;
}

.faq-answer {
  padding: 15px;
  font-size: 16px;
  background-color: white;
  font-family: serif;
}

.faq-toggle {
  font-size: 24px;
  font-weight: bold;
}


.floating-banner {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 250px;
  height: auto;
  padding: 10px;
  background-image: url('https://i.pinimg.com/564x/e4/ea/c3/e4eac3becaca0650fbc80b1af124adde.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 1000;
}

.floating-banner-content h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.floating-banner-content p {
  font-size: 1em;
}

.floating-banner:hover {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
}

/* Botón de cierre */
.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

.close-btn:hover {
  color: #ff0000; /* Cambia a rojo al pasar el ratón */
}
