<app-header></app-header>
<nav id="menu">
  <ul>
    <li><a [routerLink]="['/inicio']">Inicio</a></li>
    <li class="dropdown">
      <a class="dropbtn">Servicios</a>
      <div class="dropdown-content">
        <a [routerLink]="['/servicios/tratamiento-facial']">Tratamiento Facial</a>
        <a [routerLink]="['/servicios/tratamiento-corporal']">Tratamiento Corporal</a>
      </div>
    </li>
    <li><a [routerLink]="['/productos']">Productos</a></li>
    <li><a [routerLink]="['/faq']">FAQ</a></li>
  </ul>
</nav>
<section id="content">
  <router-outlet></router-outlet>
</section>
<app-footer></app-footer>

